
body{
     --c1: #ff0080;
    --c2: #7928ca;
    --deg:0deg;


    background: linear-gradient(var(--deg),var(--c1),var(--c2));
    
    display:flex;
    justify-content: center;
    align-items: center;
    height: 98.5vh;
}

.envlop{
    position: relative;
    z-index: 0;
    width: 60vw;
    height: 50vh;
    background-color: hsla(158, 100%, 50%, 0);
    margin-top: 10vh;
    z-index: 0;
}
.flap{
    position: relative;
    
    z-index: 4;
    width: 100%;
    height: 50%;
    background:linear-gradient(180deg,lab(100% 0.01 -0.01),#9b8f8f);
    border-left: 2px solid black;
    clip-path: polygon(0 0,100% 0,50% 100%);
    transform-origin: top;
    top: 0;
    left: 0;
}
.folds{
    z-index: 3;
    top:-50%;
    position: relative;
    display: flex;
    width: 100%;
    height: 60%;
    /* background:linear-gradient(180deg,#6a6868,#6a6868); */
}
.fold{
    z-index: 1;
    top:0vh;
    position: absolute;
    display: flex;
    width: 100%;
    height: 60%;
    background:linear-gradient(180deg,#6b6868,#6b6868);
}
.side1{
    width: 100%;
    height: 80%;
    background:linear-gradient(180deg,lab(79.71% 2.44 0.86),#6a6868);

    clip-path: polygon(0 0,0 100%,100% 100%);
    
}
.side2{
    width: 100%;
    height: 80%;
    background:linear-gradient(180deg,lab(63.98% 0 -0.01),#6a6868);
    clip-path: polygon(0 0,0 100%,100% 100%);
    transform: rotateY(180deg);
}



.letter{
    position: absolute;
    top: 3vh;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin-left: 15%;
    height: 40%;
    border: 3px solid rgb(255, 255, 255);
    max-width: 90vw;
}


@media (min-width:800px) {

    .envlop{
        width: 40vw;
    }
} 

